body {
	margin: 0px;
	overflow: hidden;
	padding-top: 0px;
}

#navbar {
	position: absolute;
	top: 0px; width: 100%;
	color: #ffffff;
	padding: 10px;
	font-family: 'Graduate', cursive;
	font-size:13px;
	font-weight: 400;
	text-align:center;
}



#map {
        height: 100%;
        width: 100%;
 }
 #map img{max-width: inherit;} 